.body {
    background-color: #212121;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    
}

.button {
    width: 90px;
    height: 30px;
    background-color: blueviolet;
    border: none;
    border: 2px solid black;
    transition: box-shadow .2s linear;
}

.button:hover {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}